.item {
    border: 2px solid rgb(185, 185, 185);
    border-radius: 5px;
    width: 400px;
    height: 300px;
    margin: 10px 20px;
    padding: 20px 30px;
}

.container {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media (max-width: 1200px) {
    .gridContainer {
      grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 1201px) and (max-width: 1600px) {
    .gridContainer {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .item {
        width: 280px;
    }    
}


.view {
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
}

.weatherInfo {
    text-align: center;
}

.button {
    text-decoration: none;
    color: rgb(85, 98, 0);
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 60px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9e9f72 0%, #9ca22e 51%, #9fba04 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0,0,0, .1);
    transition: .5s;
}

.button:hower {
    background-position: right center;
}