body {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(29, 29, 29);
    color: rgb(243, 255, 109);
    padding: 0 20px;
    font-family: 'Roboto Mono', monospace;
};
