.item {
    border: 2px solid rgb(183, 255, 106);
    border-radius: 5px;
    width: 400px;
    height: 300px;
    margin: 10px 20px;
    padding: 20px 30px;
}

.container {
    justify-content: center;
    display: flex;
}

.view {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
}

.weatherInfo {
    text-align: center;
}

.button {
    text-decoration: none;
    color: rgb(42, 98, 0);
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #8c9f72 0%, #5ea22e 51%, #56ba04 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0,0,0, .1);
    transition: .5s;
}

.button:hower {
    background-position: right center;
}

