.item {
    border: 2px solid white;
    border-radius: 5px;
    width: 400px;
    height: 300px;
}

.view {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
}

.weatherInfo {
    text-align: center;
}

